:root {
  --main-bg-color: linear-gradient(
    70deg,
    #ffba00 0,
    #ffaa00 8.33%,
    #ff9600 16.67%,
    #ff7f00 25%,
    #ff6600 33.33%,
    #ff4a18 41.67%,
    #f72626 50%,
    #e1002e 58.33%,
    #cd0035 66.67%,
    #bb003b 75%,
    #ab0041 83.33%,
    #9d0048 91.67%,
    #900051 100%
  );

  --main-color2: radial-gradient(
    circle at 15.61% 40.79%,
    #7fcfd1 0,
    #79b5bb 16.67%,
    #72989f 33.33%,
    #69797d 50%,
    #5d5b5b 66.67%,
    #4f433d 83.33%,
    #412f23 100%
  );

  --main-color3: linear-gradient(95deg, #d8ffff 0, #9db9f2 50%, #646c80 100%);
}

.burbuja1,
.burbuja2,
.burbuja3,
.burbuja4,
.burbuja5,
.burbuja6,
.burbuja7,
.burbuja8,
.burbuja9 {
  position: fixed;
  border-radius: 50%;
  box-shadow: 0 8px 32px rgba(30, 30, 30, 0.37);
  z-index: 1;
}

.burbuja1,
.burbuja2,
.burbuja4 {
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.burbuja1 {
  top: 3%;
  left: 5%;
  background-image: var(--main-color2);
  animation-name: br1;
  animation-delay: 1s;
}

@keyframes br1 {
  0% {
    transform: scale(0);
    
  }
  100% {
    width: 250px;
    height: 250px;
  }
}

.burbuja2 {
  top: 5%;
  right: -4%;
  background-image: var(--main-color2);
  animation-name: br2;
  animation-delay: 1.1s;
}

@keyframes br2 {
  0% {
    transform: scale(0);
  }
  100% {
    width: 260px;
    height: 260px;
  }
}

.burbuja4 {
  bottom: -10%;
  left: 20%;
  background-image: var(--main-color2);
  animation-name: br3;
  animation-delay: 1.15s;
}

@keyframes br3 {
  0% {
    transform: scale(0);
  }
  100% {
    width: 140px;
    height: 140px;
  }
}

.burbuja3,
.burbuja5,
.burbuja7 {
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.burbuja3 {
  bottom: 0;
  left: 3%;
  background-image: var(--main-bg-color);
  animation-name: br3br5;
  animation-delay: 1.2s;
}

.burbuja5 {
  top: 10%;
  right: 20%;
  background-image: var(--main-bg-color);
  animation-name: br3br5;
  animation-delay: 1.4s;
}

@keyframes br3br5 {
  0% {
    transform: scale(0);
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

.burbuja7 {
  bottom: 40%;
  right: 35%;
  background-image: var(--main-bg-color);
  animation-name: br7;
  animation-delay: 1.25s;
}

@keyframes br7 {
  0% {
    transform: scale(0);
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

.burbuja6,
.burbuja8,
.burbuja9 {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.burbuja6 {
  bottom: -28%;
  right: 10%;
  background-image: var(--main-color3);
  animation-name: br6;
  animation-delay: 1.3s;
}

@keyframes br6 {
  0% {
    transform: scale(0);
  }
  100% {
    width: 400px;
    height: 400px;
  }
}

.burbuja8 {
  top: -8%;
  left: 40%;
  background-image: var(--main-color3);
  animation-name: br8;
  animation-delay: 1.35s;
}

@keyframes br8 {
  0% {
    transform: scale(0);
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

.burbuja9 {
  bottom: 28%;
  left: 27%;
  background-image: var(--main-color3);
  animation-name: br9;
  animation-delay: 1.4s;
}

@keyframes br9 {
  0% {
    transform: scale(0);
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

/*<-------DISEÑO RESPONSIVE (500PX)-------->*/
@media screen and (max-width: 500px) {

  .burbuja1 {
    top: -120px;
    left: -120px;
    animation-name: br1;
  }

  @keyframes br1 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 300px;
      height: 300px;
    }
  }

  .burbuja2 {
    top: 5%;
    right: -4%;
    animation-name: br2;
  }

  @keyframes br2 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 260px;
      height: 260px;
    }
  }

  .burbuja4 {
    bottom: -10%;
    left: 20%;
    animation-name: br3;
  }

  @keyframes br3 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 140px;
      height: 140px;
    }
  }

  .burbuja3 {
    bottom: 0;
    left: 3%;
    animation-name: br3;
  }

  @keyframes br3 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 100px;
      height: 100px;
    }
  }

  .burbuja5 {
    top: 6%;
    right: 25%;
    animation-name: br5;
  }

  @keyframes br5 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 100px;
      height: 100px;
    }
  }

  .burbuja7 {
    bottom: 40%;
    right: 35%;
    animation-name: br7;
  }

  @keyframes br7 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 200px;
      height: 200px;
    }
  }

  .burbuja6 {
    bottom: -20%;
    right: -50%;
    animation-name: br6;
  }

  @keyframes br6 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 400px;
      height: 400px;
    }
  }

  .burbuja8 {
    top: -100px;
    left: 300px;
    animation-name: br8;
  }

  @keyframes br8 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 200px;
      height: 200px;
    }
  }

  .burbuja9 {
    bottom: 28%;
    left: 27%;
    animation-name: br9;
  }

  @keyframes br9 {
    0% {
      transform: scale(0);
    }
    100% {
      width: 200px;
      height: 200px;
    }
  }
}
