/*seccion principal "cabecera"*/
.card-header {
  position: fixed;
  top: 2%;
  right: 0;
  z-index: 99;
  min-width: 50%;
  height: 40px;
}

.card-header{
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 32px rgba(22, 22, 26, 0.37);
  backdrop-filter: blur(20px);
  border: solid 1px transparent;
  background-clip: padding-box;
}

/* lista (ul) */
.navegacion ul {
  list-style: none;
  display: flex;
}

/* elementos - lista (li) */
.navegacion li {
  display: inline-block;
  line-height: 40px;
  padding: 0px;
}

/* elementos - lista (a) */
li a {
  text-decoration: none;
  color: #0c2935;
  position: relative;
  padding: 0 8px;
  margin: 0 10px;
  font-size: 14px;
}

/* diseño de los elementos a */
.navegacion a::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 15px;
  width: 0;
  left: 0;
  bottom: -9px;
  transition: 0.5s;
}

.navegacion a:hover:after {
  width: 100%;
  background-color: #ffffff;
}

.navegacion a:hover {
  transition: 0.5s;
  color: #ffffff;
}

@media screen and (max-width: 500px) {

  /*seccion principal "cabecera"*/

  .card-header {
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 999;
    min-width: 40%;
    min-height: 100vh;
  }
  
  .card-header{
    letter-spacing: 1px;
  }

  .navegacion ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  /* elementos - lista (li) */
  .navegacion li {
    display: inline-block;
    line-height: 70px;
    
  }
  
  /* elementos - lista (a) */
  li a {
    text-decoration: none;
    color: #0c2935;
    position: relative;
    padding: 0 0px;
    margin: 0;
    font-size: 18px;
  }

  .navegacion a::after {
    content: "";
    position: absolute;
    height: 5px;
    border-radius: 15px;
    width: 0px;
    left: 0;
    bottom: -9px;
    transition: 0.3s;
  }
  
  .navegacion a:hover:after {
    width: 300%;
    background-color: #ffffff;
  }
  
  .navegacion a:hover {
    transition: 0.4s;
    color: #ffffff;
  }
   
}
