*{
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 10px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-color: #66868E;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(
    95deg,
    #d8ffff 0,
    #9db9f2 50%,
    #646c80 100%
  );
}

::-webkit-scrollbar-thumb {
  background-image: radial-gradient(
    circle at 16.54% 37.82%,
    #ffffd0 0,
    #fff8c2 16.67%,
    #e8dab3 33.33%,
    #c7bba3 50%,
    #a59e93 66.67%,
    #848485 83.33%,
    #656f78 100%
  );
}
