.perfil {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-perfil {
  width: 70vw;
  height: 80vh;
  min-height: 20em;
  position: relative;
}

.panel-perfil1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.panel-perfil1 {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 10px 8px 32px rgba(22, 22, 26, 0.37);
  backdrop-filter: blur(10px) ;
  border: solid 1px transparent;
  background-clip: padding-box;
}


.panel-perfil2 {
  position: absolute;
  width: 90%;
  height: 12%;
  z-index: 40;
  bottom: 15px;
  border-radius: 5px;
  background: rgba(83, 78, 78, 0.4);
  backdrop-filter: blur(20px) brightness(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-perfil2 p{
  margin: 0 3px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: .9em;
}


.perfil-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  height: 100%;
}

.foto-usuario,
.datos-usuario {
  position: absolute;
}

.foto-usuario {
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.datos-usuario {
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 10px;
  gap: 15px 10px;
}

.datos-usuario div{
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);

}

.datos-usuario div img{
  width: 20px;
  display: inline-flex;
  margin-right: 5px;
}



.datos-usuario div hr{
  background-color: #F07C70;
  height: 4px;  
  border: none; 
  width: 10%;
  border-radius: 10px;
  margin: 2px 0;
}

.datos-usuario div:hover .hr-hover{
  transition: 0.3s;
  width: 80%;
}
