.presentacion{
    min-height: 100vh ;
    background-image: url(fondo-banner2.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #171A21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 75vw;
    height: 80vh;
    min-height: 20em;
    max-width: 1070px;
    position: relative;
}

.panel-1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.panel-2 {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.panel-2{
    width: 250px;
    height: 40px;
    z-index: 3;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.panel-1{
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.presentacion-article{
    position: relative;
    display: flex;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    letter-spacing: 2px;
}

.usuario{
    display: flex;
    justify-content: left;
    align-items: center;
}

.presentacion-article img{
    border-radius: 50%;
    width: 300px;
    filter: drop-shadow(0 0 1em rgba(0,0,0,0.7));
}

.informacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info{
    padding: 50px;
}

.saludo{
    margin-top: 10px;
    font-size: 1em;
    color: #16465B
}

.user-nombre{
    margin-top: 10px;
    font-size: 3.5em;
    color: #000C15;
}

.user-profesion{
    margin-top: 10px;
    font-size: 2em;
    color: #000C15;
}

.descrip{
    margin-top: 10px;
    font-size: 1.2em;
    color: #000C15;
    text-align: left;
}

.saber-mas{
    margin-top: 10px;
    font-size: 1.2em;
}

.boton{
    display: inline-flex;
    padding: 10px 20px;
    color: #16465B;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.redes_img{
    display: block;
    border-bottom: none;
    width: 30px;
}

/*<-------DISEÑO RESPONSIVE (500PX)-------->*/

@media screen and (max-width:500px){
    .presentacion{
        padding-top: 40px;
        min-height: 540px ;
    }

    .card{
        width: 370px;
        height: 420px;
        position: relative;
    }

    .panel-1{
        position: absolute;
        bottom: 0%;
        left: 0%;
        transform: translateY(-0%);
        transform: translatex(-0%);
    }
    
    .panel-1{
        width: 100%;
        height: 50%;
        z-index: 1;
        backdrop-filter: blur(4px);
        border-radius: 0 0 0 0;  
        background-color: rgba(255, 255, 255, 0.1);
        border-radius:1em;
        backdrop-filter: blur(5px);
        box-shadow: 0 0.5px 4px #878EA4;
    }

    .panel-2 {
        position: absolute;
        bottom: -7%;
        transform: translateX(60%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .panel-2{
        width: 150px;
        height: 40px;
        z-index: 3;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px rgba(31,38,135,0.37);
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .presentacion-article{
        grid-template-columns: 1fr;
    }

    .informacion{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .informacion{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        bottom: 0%;
        left: 0%;
        transform: translateY(-0%);
        transform: translatex(-0%);   
    }

    .usuario{
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translatex(-0%); 
    }

    .info{
        width: 100%;
        padding: 10px;
    }

    .usuario img{
        margin: 0 auto;
        width: 60%;
    }

    .saludo{
        font-size: 1.5em;
        margin-top: 15px;
        color: #16465B;
        text-align: center;
    }
    
    .user-nombre{
        text-transform: uppercase;
        margin-top: 15px;
        font-size: 2.3em;
        color: #242838;
        text-align: center;
    }
    
    .user-profesion{
        margin-top: 0.3em;
        font-size: 2em;
        color: #323749;
        text-align: center;
    }
    
    .descrip, .saber-mas, .boton{
        display: none;
    }

    .redes_img{
        display: block;
        border-bottom: none;
        width: 25px;
    }
}
