.presentacion {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 70vw;
  height: 80vh;
  min-height: 20em;
  position: relative;
}

.panel-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.panel-1 {
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 10;
  border-radius: 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 32px rgba(22, 22, 26, 0.37);
  backdrop-filter: blur(20px);
  border: solid 1px transparent;
  background-clip: padding-box;
}

.presentacion-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100%;
  letter-spacing: 2px;
  animation-name: panel;
  animation-duration: 1.5s;
}

.informacion {
  text-align: center;
}

.info {
  padding: 50px;
}

.saludo {
  margin-top: 10px;
  font-size: 1.5em;
  color: #16465b;
}

.user-nombre {
  margin-top: 10px;
  font-size: 3.5em;
  color: #000c15;
}

.user-profesion {
  margin-top: 10px;
  font-size: 2em;
  color: #000c15;
}

.descrip {
  margin-top: 10px;
  font-size: 1.4em;
  color: #000c15;
}

.saber-mas {
  margin-top: 10px;
  font-size: 1.2em;
}

.boton {
  display: inline-flex;
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 8px 32px rgba(22, 22, 26, 0.37);
  backdrop-filter: blur(20px);
  border: solid 1px transparent;
  background-clip: padding-box;
  border: none;
}

.panel-2 {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: -5%;
}

.panel-2 {
  width: 300px;
  height: 50px;
  z-index: 990;
  border-radius: 20px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 8px 32px rgba(22, 22, 26, 0.37);
  backdrop-filter: blur(20px);
  border: solid 1px transparent;
  background-clip: padding-box;
  animation-name: panel;
  animation-duration: 1.5s;
}

@keyframes panel {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.panel-2 ul {
  list-style: none;
  display: flex;
}

.panel-2 li {
  padding: 0 16px;
}

.panel-2 ul li a {
  transition: 0.2s;
}

.redes_img {
  width: 30px;
  display: flex;
}

.panel-2 ul:hover a {
  filter: blur(3px);
}

.panel-2 ul li a:hover {
  transform: translateY(-3px) scale(1.06);
  filter: none;
}

.correo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.correo {
  padding: 10px;
  width: 250px;
  height: 50px;
  bottom: 0;
  right: -5%;
  z-index: 11;
  border-radius: 20px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 32px rgba(22, 22, 26, 0.37);
  backdrop-filter: blur(20px);
  border: solid 1px transparent;
  background-clip: padding-box;
  animation-name: correopanel;
  animation-duration: 1.5s;
}

@keyframes correopanel {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.correo .gmail a {
  text-decoration: none;
  z-index: 12;
  font-size: 15px;
  letter-spacing: 1px;
  color: #16465b;
}

.correo:hover .gmail a {
  transition: 0.3s;
  color: #fff8c2;
}

.correo .linea {
  position: absolute;
  right: 0;
  width: 190px;
  height: 2px;
  background: #16465b;
}

.correo:hover .linea {
  transition: 0.3s;
  background-color: #fff8c2;
}

/*<-------DISEÑO RESPONSIVE (500PX)-------->*/

@media (max-width: 500px) {

  .panel-2 {
    animation: none;
  }

  .panel-1 {
    animation: none;
  }

  .correo {
    animation: none;
    display: none;
  }

  .panel-2 {
    width: 250px;
    display: flex;
    top: 91%;
    left: 50%;
    transform: translateX(-50%);
  }
}
