*{
  font-family: 'Ubuntu', sans-serif;
}

.navegacion{
  background-color: #293241;
  height: 40px;
  width: 100%;
  
}

.header__list{
  list-style: none;
  float: right;
  display: flex;
  color: #ebf2fa;
}

.header__list li{
  display: inline-block;
  line-height: 40px;
}

.logo{
  float: left;
  text-decoration: none;
  line-height: 40px;
  margin-left: 20px;
  color: #ebf2fa;
}

.header__list a{
  text-decoration: none;
 display: block;
  padding: 0px 30px;
  color: #ebf2fa;
}

.header__list a:hover{
  background-color: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(20px);
  color: #ebf2fa;
  transition: .5s;

}

.presentacion-redes{
  background-color: #3D5A80;
}
